* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}

main {
    background-color: rgb(186, 201, 201);
    height: 80vh;
}

header {
    min-height: 25vh;
    background-color: rgba(102,167,197,255);
}

.anchor {
    font-size: 1.3rem;
    color: black;
    text-decoration: none !important;
}

#img {
    width: 8rem;
}

.row {
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 3rem;
    margin: 0;
}

.card-img-top {
    padding-top: 1rem;
    height: 13rem;
}

.card-body {
    margin-top: 1rem;
}

.card {
    background-color: rgb(157, 132, 101);
}

#navBar {
    background-color: rgb(111, 176, 233) !important;
}

.navbar-brand {
    font-size: 2.5rem;
    padding-left: 2rem;
}

#navContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 3rem !important;
    font-size: 1.5rem;
}