*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: #fff700dd;
    height: 100px;
    box-shadow: rgb(108, 88, 59) 5px 5px 5px;
    position: fixed;
    top:0

}
.nav-item {
    border: rgb(255, 200, 0) solid 1px;
    border-radius: 20px;
    background-color: rgb(255, 200, 0);

}
main{
    height: fit-content;
    flex:1;
}
footer{
    height: 20vh;
    flex:0;
    margin-top: 3px;
}
.anchor{
    text-decoration: none;
    color: white;
    padding: 0 10px 0 10px;
}
.anchor:hover {
    color: black;
}
#logo{
    height: 70px;
}
#menu{
    background-color: #fff70000;
    padding-left: 10px;


}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 243) !important

}
.header{
    width: 860px;
    height: 20vh;
    flex:0;
    background-image: url(../header1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:start;
    align-items:flex-start;
    border-radius: 20px;
    margin-top: 20vh;
    box-shadow: rgb(246, 145, 3) 5px 5px 5px;
}
.header1{
    min-height: 500px;
    width: 90%;
    background-image: url(../header1.jpg);
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgb(246, 145, 3) 5px 5px 5px;
    border-radius: 20px;
    margin-top: 20vh;
    background-position: center;
}
.header2{
    width: 860px;
    height: 50vh;
    background-image: url(../header1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:start;
    align-items:flex-start;
    border-radius: 20px;
    margin-top: 20vh;
    box-shadow: rgb(246, 145, 3) 5px 5px 5px;
}
.title{
    
    background-color: #f28a0a95;
    border-radius: 20px;
    padding: 0 20px 0 20px;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 10%;
}
.title1{
    background-color: #f28a0a95;
    border-radius: 20px;
    padding: 0 20px 0px 20px;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 12%;
}
.botHeader{
    background-color: #f28a0a95;
    border-radius: 20px;
    width: 100%;
    height: 10%;
}

.searchBar {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#searchBar {
    height: 2.5rem;
    width: 25rem;
    border: 3px solid #73c3ca95;
    border-radius: 2rem;
    text-align: center;
}

#farmaciaMain {
    height: fit-content;
    margin-top: 15vh;
}

#containerCard2 {
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 1rem;

}

#containerCard2 div {
    background-color: rgb(246, 145, 3);
    box-shadow: rgb(246, 145, 3) 5px 5px 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#containerCard {
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 1rem;
}

#containerCard div {
    background-color: rgb(246, 145, 3);
    box-shadow: rgb(246, 145, 3) 5px 5px 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.container-img{
    display: flex;
    justify-content: center;
    width: 100%;

}
.img-detail{
    width: 50%;
}
.card-img-top {
    max-height: 15rem;
    min-height: 15rem;
    object-fit: contain;
    background-color: white;
}

.background{
    background-color: #f28a0a6e;
    height: 800px;

    box-shadow: rgb(246, 145, 3) 5px 5px 5px;
    margin: 15px 0;
    border-radius: 20px;
    height: fit-content !important;
}
.image{
    margin-top: 15px;
    height: 200px;
    width: 320px;
    border-radius: 5px;
}
.paragraph{
    width: 300px;
    margin-bottom: 20px;
    padding-top: 15px;
    text-align: start;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.footerLogos{
    height: 50px;
    margin: 10px;
}
.footer{
    margin-top: 5vh;
    background-color:   #fff700dd;
    height: 10vh;
}
.mapita {
    width: 70%;
    margin-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
}
.diva {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.nombres{
    margin: 10px;
}
.data{
    width: 50%;
    height: fit-content !important;
}
@media (min-width:320px) and (max-width: 767px){
    main{
        width: 100%;
        min-height: 790px;
    }
    .header{
        width: 100%;
    }
    .botHeader{
        width: 100%;
    }
    .background{
        height: 745px;
        flex-direction: column;
    }
    .info{
        width: 100%;
    }
    .data{
        width: 100%;
        height: 350px;
    }
    .image{
        width: 250px;
    }
    footer{
        width: 100%;
        height: 350px !important;
        flex-direction: column;
        background-color:  #73afca;
        margin: 0 !important;
    }
    .nombres{
        text-align: center;
    }
    .nombresMedia{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 768px) and (max-width:1439px){
    main{
        min-height: 525px;
    }
    .background{
        height: 475px;
    }
    .botHeader{
        width: 100%;
    }
    footer{
        height: 90px;
        margin: 0 !important;
    }
    .info{
        width: 90%;
    }
    .footerLogos{
        height: 30px;
    }
    .logos{
        display: flex;
        flex-direction: row;
    }
    .cohort{
        margin: none;
    }
    .nombres{
        font-size: 18px;
    }
}
@media (min-width: 1440px){
    .header{
        width:1100px;
    }
    .background{
        height: 550px;
        width: 100%;
    }

}
